@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

@font-face {
    font-family: jetbrains;
    src: url(./font/JetBrainsMonoNerdFontPropo-Regular.ttf);
}

* {
    font-family: jetbrains;

    margin: 0;
    padding: 0;
    color: var(--ctp-frappe-text);
    box-sizing: border-box;

    --highlight: var(--ctp-frappe-mauve);
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    /* grid-template-columns: 1fr 3fr; */
}

input,
select {
    background-color: var(--ctp-frappe-surface0);

    border: none;
    padding: 0.5em;
}

button {
    padding: 0.6em;
    border: 0.125rem solid var(--ctp-frappe-overlay0);
    border-radius: 0.5rem;
    background-color: var(--ctp-frappe-mantle);
    color: var(--highlight);
}

.add-task-button {
    font-weight: bold;
    font-size: 110%;
    text-align: start;
    border: none;
}

.mark-complete {
    min-width: 3.6rem;
    min-height: 3.6rem;
    border-radius: 3em;
    font-size: 110%;
}

.mark-complete:hover::after {
    content: "X";
}

.action-button {
    font-size: 130%;
    min-width: 2.7em;
    border-radius: 3em;
}

h1 {
    font-size: 400%;
}

form {
    background-color: var(--ctp-frappe-mantle);

    padding: 1em;
    border-radius: 0.5rem;
}

#add-task-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 1em;
}

.subtext {
    color: var(--ctp-frappe-subtext0);
}

.hidden {
    display: none !important;
}


#main-text,
#description {
    grid-column: 1 / 4;
}

#main-text {
    font-size: 200%;
}

.buttons {
    grid-column: 1/4;
    display: flex;
    gap: 1em;
    justify-content: end;
}

.hover:hover,
button:hover {
    filter: brightness(110%);
}

.absolute-centered {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0);
}

.shadow {
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65);
}

.side-panel {
    min-width: 20rem;

    background-color: var(--ctp-frappe-crust);

    padding: 1em;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.collapse {
    min-width: 0 !important;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#open-panel {
    background-color: inherit;
    border: inherit;
    font-size: 150%;
    padding: 0;
    padding-inline: 0.5rem;
}

#add-list {
    padding-block: 0.5em;
    border-radius: 0.5rem;
}

#add-list::after {
    content: "";
}

#add-list:hover::after {
    content: " +";
}

.lists {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
}

.lists>* {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* text-align: center; */
    padding: 0.7em;

    border-radius: 0.5rem;
}

.active-list {
    background-color: var(--highlight);
    color: var(--ctp-frappe-crust);
}

.drop-down {
    position: absolute;
    top: 70%;
    right: -20%;

    background-color: var(--ctp-frappe-surface0);

    padding: 1em;

    border-radius: 0.5em;

    display: flex;
    flex-flow: column;
    gap: 0.5em;
}

.main-panel {
    flex: 1;

    display: flex;
    flex-flow: column;

    background-color: var(--ctp-frappe-base);

}

.title {
    padding-block: 0.25em;
    padding-inline: 0.5em;
    background-color: var(--ctp-frappe-mantle);
}

.items {
    margin: 2rem;
    background-color: var(--ctp-frappe-overlay0);

    display: flex;
    flex-flow: column;
    gap: 0.1em;
}

.item {
    padding-block: 1em;

    background-color: var(--ctp-frappe-base);

    display: flex;
    align-items: start;
    gap: 1em;

    font-size: 120%;
}