@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');
@import url("https://www.nerdfonts.com/assets/css/webfont.css");

@font-face {
    font-family: jetbrains;
    src: url(./font/JetBrainsMonoNerdFontPropo-Regular.ttf);
}

* {
    font-family: jetbrains;

    margin: 0;
    padding: 0;
    color: var(--ctp-frappe-text);
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.collapse {
    min-width: 0 !important;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    /* grid-template-columns: 1fr 3fr; */
}

input,
select {
    background-color: var(--ctp-frappe-surface0);

    border: none;
    padding: 0.5em;
}

button {
    padding: 0.6em;
    border: 0.1rem solid var(--ctp-frappe-overlay0);
    border-radius: 0.5rem;
    background-color: var(--ctp-frappe-surface0);
}

.mark-complete {
    padding-inline: 0.5em;
    padding-block: 0.3em;
}

button:hover {
    background-color: rgba(var(--ctp-frappe-surface0-rgb) / 0.5);
}

h1 {
    font-size: 400%;
    margin-bottom: 0.7em;
}

form {
    background-color: var(--ctp-frappe-mantle);

    padding: 1em;
    border-radius: 0.5rem;
}

#add-task-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr;
    gap: 1em;
}

#main-text,
#description {
    grid-column: 1 / 4;
}

#main-text {
    font-size: 200%;
}

.buttons {
    grid-column: 1/4;
    display: flex;
    gap: 1em;
    justify-content: end;
}

.hover:hover {
    background-color: rgba(var(--ctp-frappe-surface0-rgb) / 0.5);
}

.absolute-centered {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, 0);
}

.shadow {
    box-shadow: 0 0 0 1600px rgba(0, 0, 0, 0.65);
}

.side-panel {
    min-width: 20rem;

    background-color: var(--ctp-frappe-mantle);

    padding: 1em;
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#open-panel {
    background-color: inherit;
    border: inherit;
    font-size: 150%;
    padding: 0;
    padding-inline: 0.5rem;
}

#add-list {
    padding-block: 0.5em;
    border-radius: 0.5rem;
}

#add-list::after {
    content: "";
}

#add-list:hover::after {
    content: " +";
}

.lists {
    display: flex;
    flex-flow: column;
    gap: 0.5em;
}

.lists>* {
    text-align: center;
    padding: 0.7em;

    border-radius: 0.5rem;
}

.active-list {
    background-color: var(--ctp-frappe-overlay0);
}

.main-panel {
    flex: 1;

    background-color: var(--ctp-frappe-base);

    padding: 1.5rem;
    padding-inline: 2rem;
}

.item {
    display: flex;
    align-items: start;
    gap: 1em;


}